.idea
sonarr
medusa
deluge/config/*
!deluge/config/openvpn
deluge/config/openvpn/*
!deluge/config/openvpn/.gitkeep
!deluge/config/.gitkeep
downloads/*
!downloads/.gitkeep
emby/*
!emby/.gitkeep
!emby/config
emby/config/*
!emby/config/.gitkeep
